{% extends "layouts/index.njk" %}

{% block main %}
  <h1>Login</h1>

  <div>
    <form action="{{ loginFormAction }}" method="POST">

      <fieldset>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        <label>
          Email
          <input type="email" name="email" value="jason@example.com" required>
        </label>

        <label>
          Password
          <input type="password" name="password" value="password123" required>
        </label>

        <a href="{{ forgotPasswordLink }}">Forgot Your Password?</a>

        <div>
          <button type="submit" class="button">Login</button>
        </div>
      </fieldset>

    </form>
  </div>
{% endblock %}

{% block styles %}
  <style>
    html {
      font-family: Helvetica, Arial, sans-serif;
    }

    .button {
      background-color: tomato;
      color: white;
      padding: 0.5rem;
      text-decoration: none;
      font-weight: 600;
      border-radius: 4px;
    }

    label {
      display: block;
    }

    fieldset {
      padding: 0;
      border: none;
    }
  </style>
{% endblock %}
