{% extends "layouts/index.njk" %}

{% block main %}
<div>
    <p>{{ user.name }}</p>
    <p>Do you authorize this application {{ client.name }} the following scopes:</p>
    <form action="{{ submitUrl | safe }}" method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <ul>
            {% for scope in scopes %}
                <li>{{ scope.name }}</li>
            {% else %}
                <li>No scopes! Fix this empty state</li>
            {% endfor %}
    </ul>
    <ul class="yes-no">
            <li>
                <input name="accept" type="submit" value="yes">
            </li>
            <li>
                <input name="accept" type="submit" value="no">
            </li>
        </ul>
    </form>
</div>
{% endblock %}

{% block styles %}
<style>
    .yes-no {
      list-style-type: none;
      display: flex;
    }
</style>
{% endblock %}
