arrowParens: avoid
bracketSpacing: true
printWidth: 100
trailingComma: all
tabWidth: 2
semi: true
singleQuote: false
plugins: ["prettier-plugin-svelte"]
pluginSearchDirs: ["."]
overrides:
  - files: "*.svelte"
    options:
      parser: "svelte"
